h1, h2, h3, h4, h5 {
    font-family: 'Tangerine', cursive;
    padding-bottom: 0px;
    padding-top: 0px;
}

p, button {
    font-family: 'Lato', sans-serif;
    padding-bottom: 0px;
    padding-top: 0px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}
